<div class="CV__container">
  <div class="CV__Inner_container">
    <h2 class="CV__Name_Text">Richard Mc Nally</h2>
    <h3 class="CV__CurrentRole_Text">Experienced Developer</h3>
  </div>
  <div class="CV__Inner_container">
    <h3 class="CV__SectionTitle_text">Experience:</h3>
    <div class="CV__Job_container">
      <p class="CV__Date_text">MARCH 2024 - CURRENT</p>
      <div class="CV__JobTitle_container">
        <p class="CV__JobTitle_text">Experienced Developer,</p>
        <p class="CV__Employer_text">Thoughtware</p>
      </div>
      <ul>
        <li>I was introduced to .NET MAUI</li>
        <li>I am currently working in collaboration in my team of developers with the migation of an application from .NET Xamarin to .NET MAUI</li>
      </ul>
    </div>
    <div class="CV__Job_container">
      <p class="CV__Date_text">AUGUST 2023 - MARCH 2024</p>
      <div class="CV__JobTitle_container">
        <p class="CV__JobTitle_text">Junior Developer,</p>
        <p class="CV__Employer_text">Thoughtware</p>
      </div>
      <ul>
        <li>I was introduced to Angular, Angular Material, TypeScript, .NET Xamarin & Figma</li>
        <li>I am working on a project where I am the sole developer maintaining and developing a web-based portal using the Angular framework</li>
      </ul>
    </div>
  </div>
  <div class="CV__Inner_container">
    <h3 class="CV__SectionTitle_text">Education:</h3>
    <div class="CV__Education_container">
      <div class="CV__EducationTitle_container">
        <p class="CV__Education_text">NCC Education Validated Certificate,</p>
        <p class="CV__Institute_text">Academic Institute of Excellence</p>
      </div>
      <p class="CV__EducationDescription_text">
        This certificate is equivalent to the first year of an IT Degree in the UK University system and will allow me to articulate into further studies. Included in this course I learnt the content needed for the CompTIA A+ Core 1 [220-1101], Core 2 [220-1102] & CompTIA N+ [N10-008] exams.
      </p>
    </div>
    <div class="CV__Education_container">
      <div class="CV__EducationTitle_container">
        <p class="CV__Education_text">NC IT Systems Development Certificate,</p>
        <p class="CV__Institute_text">Academic Institute of Excellence</p>
      </div>
      <p class="CV__EducationDescription_text">Full Stack Software Development - Average: 99.51%</p>
      <p class="CV__EducationDescription_text">Modules Completed:</p>
      <ul>
        <li>Digital Literacy</li>
        <li>Software Programming Fundamentals</li>
        <li>Software Programming 1</li>
        <li>Software Programming 2</li>
        <li>Database Development 1</li>
        <li>Database Development 2</li>
        <li>Website Desing and Development</li>
        <li>Personal Development</li>
      </ul>
    </div>
    <div class="CV__Education_container">
      <div class="CV__EducationTitle_container">
        <p class="CV__Education_text">General Certificate of Education (Advanced Subsidiary Level and Advancel Level),</p>
        <p class="CV__Institute_text">Charter College International High School</p>
      </div>
      <p class="CV__EducationDescription_text">
        This certificate is equivalent to a National Senior Certificate [SA Matric] and is accredited through SAQA
      </p>
    </div>
  </div>
  <div class="CV__Inner_container">
    <h3 class="CV__SectionTitle_text">Skills & Technologies:</h3>
    <div class="CV__Skills_container">
      <p class="CV__Skills_text">User Needs Analysis</p>
      <p class="CV__Skills_text">Website Design</p>
      <p class="CV__Skills_text">Website Development</p>
      <p class="CV__Skills_text">Software Development</p>
      <p class="CV__Skills_text">Database Development</p>
      <p class="CV__Skills_text">UI/UX Design Principles</p>
      <p class="CV__Skills_text">Adobe Photoshop</p>
      <p class="CV__Skills_text">Microsoft Office 365 Applications</p>
      <p class="CV__Skills_text">IT Support</p>
      <p class="CV__Skills_text">Computer Troubleshooting</p>
    </div>
  </div>
  <div class="CV__TechSlider" style="
      --width: 64px;
      --height: 160px;
      --quantity: 17;">
      <div class="CV__Technologies_container" >
        <div class="CV__Technology_container" style="--position: 1">
          <img src="assets/Java.svg" alt="Java Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 2">
          <img src="assets/CSharp.svg" alt="C# Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 3">
          <img src="assets/HTML.svg" alt="HTML Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 4">
          <img src="assets/CSS.svg" alt="CSS Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 5">
          <img src="assets/SASS.svg" alt="SASS Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 6">
          <img src="assets/JavaScript.svg" alt="JavaScript Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 7">
          <img src="assets/TypeScript.svg" alt="TypeScript Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 8">
          <img src="assets/Angular.svg" alt="Angular Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 9">
          <img src="assets/MySQL.svg" alt="MySQL Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 10">
          <img src="assets/MongoDB.svg" alt="MongoDB Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 11">
          <img src="assets/PostgreSQL.svg" alt="PostgreSQL Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 12">
          <img src="assets/Git.svg" alt="Git Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 13">
          <img src="assets/GitHub.svg" alt="GitHub Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 14">
          <img src="assets/Figma.svg" alt="Figma Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 15">
          <img src="assets/VSCode.svg" alt="VSCode Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 16">
          <img src="assets/VisualStudio.svg" alt="Visual Studio Icon" class="CV__TechIcon_image">
        </div>
        <div class="CV__Technology_container" style="--position: 17">
          <img src="assets/GitFork.png" alt="Fork Icon" class="CV__TechIcon_image">
        </div>
      </div>
    </div>
</div>