<section class="about__container">
    <div class="about__Inner_container">
      <h2 class="about__Title_Text">About Me:</h2>
    </div>
    <div class="about__Inner_container">
      <p class="about__Text">
        I am a dedicated and passionate Software Developer
        who loves creating innovative solutions that address
        real-world needs. My journey in software
        development began in high school, where I discovered
        my love for coding, leading me to pursue the
        necessary qualifications to turn my passion into my
        career. I thrive on challenges and continuously seek
        opportunities for honing my skills and expanding my
        knowledge. I am always eager to learn more and take
        on new challenges. My ultimate goal is to leverage my
        expertise to make a positive impact in the world
        through meaningful software solutions.
      </p>
    </div>
  </section>