<div class="contact__container">
  <div class="contact__Inner_container">
    <h2 class="contact__Name_text">Richard Mc Nally</h2>
    <h3 class="contact__SubTitle_text">Full Stack Developer</h3>
  </div>

  <div class="contact__Inner_container">
    <a href="mailto:richardmcnallydev@gmail.com" class="contact__Email">
      <mat-icon class="contact__Email_icon" matTooltip="Email Me" matTooltipPosition="below">mail</mat-icon>
    </a>
    <a href="https://github.com/RichardJMc-Nally" class="contact__Email" target="_blank">
      <img src="assets/GitHubALT.svg" alt="GitHub Icon" class="contact__icon">
    </a>
  </div>
</div>