<div class="main__container">
  <div class="snap__container">
    <section class="intro__container snap__section">
      <h1 class="intro__Title_Text">Hi, I'm Richard Mc Nally</h1>
      <p class="intro__SubTitle_Text">Full Stack Developer</p>
    </section>
  
    <section class="snap__section">
      <app-about></app-about>
    </section>
  
    <section class="snap__section">
      <app-projects></app-projects>
    </section>
  
    <section class="snap__section">
      <app-cv></app-cv>
    </section>
  
    <section class="snap__section">
      <app-contact></app-contact>
    </section>
  </div>
  <!-- Footer -->
</div>