<div class="main__container">
  <section class="intro__container">
    <h1 class="intro__Title_Text">Hi, I'm Richard Mc Nally</h1>
    <p class="intro__SubTitle_Text">Full Stack Developer</p>
  </section>
  
  <section class="about__container">
    <div class="about__Inner_container">
      <h2 class="about__Title_Text">About Me:</h2>
    </div>
    <div class="about__Inner_container">
      <p class="about__Text">
        I am a dedicated and passionate Software Developer
        who loves creating innovative solutions that address
        real-world needs. My journey in software
        development began in high school, where I discovered
        my love for coding, leading me to pursue the
        necessary qualifications to turn my passion into my
        career. I thrive on challenges and continuously seek
        opportunities for honing my skills and expanding my
        knowledge. I am always eager to learn more and take
        on new challenges. My ultimate goal is to leverage my
        expertise to make a positive impact in the world
        through meaningful software solutions.
      </p>
    </div>
  </section>
  
  <section class="projects__container">
    <div class="projects__Inner_container">
      <h2 class="projects__Title_text">Projects:</h2>
    </div>
  </section>

  <section class="CV__container">
    <div class="CV__Inner_container">
      <h2 class="CV__Name_Text">Richard Mc Nally</h2>
      <h3 class="CV__CurrentRole_Text">Experienced Developer</h3>
    </div>

    <div class="CV__Inner_container">
      <h3 class="CV__SectionTitle_text">Experience:</h3>
    </div>

    <div class="CV__Inner_container">
      <h3 class="CV__SectionTitle_text">Education:</h3>
    </div>
    
    <div class="CV__Inner_container">
      <h3 class="CV__SectionTitle_text">Skills & Technologies:</h3>
    </div>
  </section>

  <section class="contact__container">
    <div class="contact__Inner_container">
      <h2 class="contact__Name_text">Richard Mc Nally</h2>
      <h3 class="contact__SubTitle_text">Full Stack Developer</h3>
    </div>

    <div class="contact__Inner_container">
      <a href="mailto:richardmcnallydev@gmail.com" class="contact__Email">Email me</a>
    </div>
  </section>
</div>