.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.snap__container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

.snap__section {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.intro__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}

.intro__Title_Text {
  color: white;
  font-size: 4rem;
}

.intro__SubTitle_Text {
  color: white;
  font-size: 1.875rem;
}

app-about, app-projects, app-cv, app-contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-cv {
  height: auto;
  min-height: 100vh;
  display: block;
  overflow-y: auto;
}